body{
  background-color: #eeee;
  color: black;
  text-align: center;
}

h1{
  color: black;
}
ul{
  list-style-type: none;
  background-color: black ;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
li a:hover{
  background-color: #1d3557;