body{
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
}

.borde{
border: solid black;
}
.widthcards{
  width: 75%;
}

.cardcenter{
margin-left: 200px;
margin-right: 200px;
}